<section class="contacts sections">
    <div class="contacts-container container">
            <h2 class="contacts-title">Fresh Harvest Box has got you covered</h2>
            <ul class="contacts-img-list list">
                <li class="contacts-img-item">
                    <img
                    class="contacts-img" 
                    src="../img/contacts/contacts1_792.jpg" 
                    alt="melon"
                    width="792"
                    height="502"
                    loading="lazy">
                </li>
                <li class="contacts-img-item">
                    <img
                    class="contacts-img" 
                    src="../img/contacts/contacts2_400.jpg" 
                    alt="prunes"
                    width="400"
                    height="502"
                    loading="lazy">
                </li>
            </ul>
        <div class="contacts-description">
            <p class="contacts-text">Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
            <form class="contacts-form" name="contacts-form">
                
                    <input 
                    class="contacts-input" 
                    type="email" 
                    name="Enter email..."
                    placeholder="E-mail"
                    required> 
                
                <button class="contacts-btn" type="submit">Send</button>
            </form>
        </div>
    </div>
</section>