<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      <div>
        <img
          class="footer-logo-img"
          srcset="../img/girl_335.png 335w, ../img/girl_670.png 670w"
          sizes=" (min-width: 1280px) 349px, (min-width: 768px) 349px, (min-width: 375px) 335px, 100vw"
          src="../img/girl_335.png"
          alt="girl with bananas in her hands"
          width="349"
          height="172"
        />
        <div class="footer-logo-icon-txt">
          <a class="footer-logo-icon" href="#">
            <svg
              class="footer-icon-color"
              width="16"
              height="16"
              class="footer-socmedia-link-icon"
            >
              <use href="../img/icon.svg#logo"></use>
            </svg>
            <span class="footer-logo-text"> fresh harvest box</span></a
          >
        </div>
      </div>
    </div>
    <ul class="footer-menu list">
      <li class="footer-menu-item"><a href="#how-it-works"></a>How It Works</li>
      <li class="footer-menu-item"><a href="#fruits"></a>Fruits</li>
      <li class="footer-menu-item"><a href="#contacts"></a>Contacts</li>
    </ul>
    <div class="footer-media-address">
      <ul class="footer-socmedia">
        <li class="footer-socmedia-icon">
          <a
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-socmedia-link"
          >
            <svg class="footer-icon-color" width="28" height="28">
              <use href="../img/icon.svg#facebook" ></use>
            </svg>
          </a>
        </li>
        <li class="footer-socmedia-icon">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-socmedia-link"
          >
            <svg class="footer-icon-color" width="28" height="28">
              <use href="../img/icon.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socmedia-icon">
          <a
            href="https://www.youtube.com/"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-socmedia-link">
            <svg class="footer-icon-color" width="28" height="28">
              <use href="../img/icon.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="footer-phone">
        <a href="tel:+380684439426" class="footer-tel">+380 (68) 443-94-26</a>

        <a
          href="https://goo.gl/maps/oZLcQ3JFGTmqJevFA"
          target="_blank"
          rel="noreferrer noopener"
        >
          <p class="footer-point">
            1678 S. Pioneer Road <br />
            Salt Lake City UT <br />
            84104
          </p>
        </a>
      </address>
    </div>
  </div>
</footer>