<section class="hero">
	<div class="hero-container container">
		<h1 class="hero-title">
			FRESH HARVEST BOX IS YOUR 0NE-STOP PLACE FOR A DELICIOUS FRUIT BASKET
		</h1>
		<p class="hero-desc">
			Our expertly curated fruit baskets are made with the freshest, highest
			quality fruits available. Whether you are looking for a healthy snack or a
			gift for a loved one, Fresh Harvest Box has got you covered.
		</p>

		<button class="btn btn-hero" type="button">SHOP NOW</button>
		<ul class="media list">
			<li>
				<picture>
					<source media="(min-width: 375px)" srcset="
              ../img/hero/image_mob@1x.webp 1x,
              ../img/hero/image_mob@2x.webp 2x,
              ../img/hero/image_td@1x.webp 1x,
              ../img/hero/image_td@2x.webp 2x
            " type="img/webp" />
					<img class="hero-img" src="../img/hero/image_mob@1x.webp 1x,
                   ../img/hero/image_mob@2x.webp 2x,
                   ../img/hero/image_td@1x.webp 1x,
                   ../img/hero/image_td@2x.webp 2x" alt="young-energetic" />
				</picture>
			</li>
			<li>
				<picture>
					<source media="(min-width: 375px)" srcset="
              ../img/hero/strawberry_mob@1x.webp 1x,
              ../img/hero/strawberry_mob@2x.webp 2x
            " type="img/webp" />
					<img class="hero-img" src="../img/hero/banana_mob 1x,
                   ./images/hero/blocks_mtd@2x.jpg 2x" alt="blocks" />
				</picture>
			</li>
			<li>
				<picture>
					<source media="(min-width: 375px)" srcset="" type="image/" />
					<img class="hero-img" src="" alt="" />
				</picture>
			</li>
			<li>
				<picture>
					<source media="(min-width: 375px)" srcset="" type="image/" />
					<img class="hero-img" src="" alt="" />
				</picture>
			</li>
		</ul>
	</div>
</section>