.header .container {
}
.container {
}
.navigation {
	display: flex;
	justify-content: space-between;
}
.navigation-list {
	color: var(--brand-color);

	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.04em;
	display: flex;
	align-items: center;
	gap: 20px;
}
.navigation-items {
}
.logo {
	display: inline-flex;
	align-items: center;
	gap: 8px;
}
.navigation a {
	height: 50px;
}
.logo-text {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.29;
	color: var(--brand-color);
}
.header svg {
	fill: var(--brand-color);
}
.navigation-basket {
	display: inline-flex;
	align-items: center;
}
.basket-svg {
}
.navigation-burger {
	display: inline-flex;
	align-items: center;
}
/*==============================================================================================================================================
----------------------------------------------------------------------Tablet-desktop
================================================================================================================================================*/
@media only screen and (min-width: 768px) {
	.navigation-burger {
		display: none;
	}
}
/*==============================================================================================================================================
---------------------------------------------------------------------/Tablet-desktop
================================================================================================================================================*/
/*==============================================================================================================================================
----------------------------------------------------------------------Tablet
================================================================================================================================================*/
@media only screen and (min-width: 768px) and (max-width: 1279px) {
	.navigation-list {
		gap: 16px;
	}
}
/*==============================================================================================================================================
---------------------------------------------------------------------/Tablet
================================================================================================================================================*/
/*==============================================================================================================================================
----------------------------------------------------------------------Mobile
================================================================================================================================================*/
@media only screen and (max-width: 767px) {
	.navigation-list {
		display: none;
	}
	.navigation-basket {
		display: none;
	}
}
/*==============================================================================================================================================
---------------------------------------------------------------------/Mobile
================================================================================================================================================*/
