.hero-section {
  background: var(--brand-color);
}
.hero-container {
  position: relative;
  background: var(--brand-color);
}
.hero-img-r {
  padding-top: 56px;
  padding-right: 20px;
  padding-left: 280px;
	padding-top: 56px;
	padding-right: 20px;
	padding-left: 299px;
}

.hero-img-strawberry {
  width: 56px;
  height: 56px;
  filter: blur(2px);
}
@media only screen and (min-width: 768px) {
  .hero-img-strawberry {
    position: absolute;
    width: 108px;
    height: 108px;
    filter: blur(4px);
    margin-left: 210px;
  }
}
.hero-img-banana {
  position: absolute;
  width: 66px;
  height: 44px;
  left: 28.05px;
  filter: blur(2px);
  transform: rotate(20deg);
}
@media only screen and (min-width: 768px) {
  .hero-img-banana {
    width: 132px;
    height: 90px;
    left: 58px;
    top: 219px;
    filter: blur(3.5px);
  }
}
.hero-img-banana {
	position: absolute;
	width: 66px;
	height: 44px;
	left: 28.05px;
	top: 166px;

	filter: blur(2px);
	transform: rotate(20deg);
}
.img-card-list {
	margin-bottom: 71px;
}
.gradiend-border {
	position: relative;
	background: transparent;
	padding: 0.5rem 1rem;
	background-image: linear-gradient(90deg, var(--brand-color), var(--brand-color)),
		linear-gradient(359.94deg, #ffffff -1.7%, rgba(255, 255, 255, 0.441769) 30.64%, rgba(255, 255, 255, 0) 76.92%);
	background-clip: padding-box, border-box;
	background-origin: border-box;
	border: 1px solid transparent;
	border-radius: 500px;
	max-width: 335px;
	max-height: 509px;
	padding: 12px 12px 13px 12px; 
}

.img-card {
  width: 311px;
  height: 484px;
  border-radius: 500px;
  margin-left: 12px;
  margin-bottom: 13px;
}
@media only screen and (min-width: 768px) {
  .img-card {
    width: 452px;
    height: 702px;
    margin-left: 158px;
    margin-top: 25px;
  }
}
.hero-title {
  position: absolute;
  width: 335px;
  left: calc(50% - 335px / 2);
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-text);
  z-index: 200;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  padding-top: 56px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    width: 704px;
    height: 168px;
    left: calc(50% - 704px / 2);
    font-size: 50px;
    padding-top: 64px;
  }
}
@media only screen and (min-width: 768px) {
  .gradiend-border {
    width: 486px;
    height: 742px;
    margin-left: 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .gradiend-border {
    left: 278px;
    top: 9px;
  }
}
.card-img {
  width: 311px;
  height: 484px;
  border-radius: 500px;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .card-img {
    width: 452px;
    height: 702px;
  }
}
.hero-title {
  position: absolute;
  max-width: 325px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--color-text);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  z-index: 200;
  margin-top: -36px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    max-width: 704px;
    top: 70px;
    font-size: 50px;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    margin-top: -6px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-title {
    max-width: 898px;
    height: 198px;
    font-size: 64px;
    text-align: center;
    margin: 3px -12px 1px 183px;
  }
}
.btn-hero {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 148px;
  top: 200px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--brand-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  transform: rotate(-14deg);
  border-radius: 500px;
  border: none;
  z-index: 200;
  margin-top: 342px;
}
@media only screen and (min-width: 768px) {
  .btn-hero {
    width: 114px;
    height: 114px;
    font-weight: 500;
    font-size: 28px;
    margin-top: 484px;
    margin-left: 200px;
  }
}
.btn-hero:hover,
.btn-hero:focus {
  color: var(--color-hover);
}
.hero-desc {
  position: absolute;
  width: 279px;
  height: 90px;
  left: 48px;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: var(--color-text);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  margin-top: 52px;
	font-size: 14px;
	line-height: 1.29;
	letter-spacing: -0.04em;
	color: var(--color-text);
	text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
	max-width: 279px;
	margin: 0 auto;
}
.watermelon {
  width: 249px;
  height: 387px;
  background: #a4cb66;
  border-radius: 500px;
  margin: 44px;
}
@media only screen and (min-width: 768px) {
  .watermelon {
    left: 64px;
    top: 1088px;
    margin-top: 78px;
  }
}
.hero-second {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.04em;
  color: var(--color-text);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  padding-top: 28px;
  margin-bottom: 30px;
}

.img-water {
  width: 239px;
  margin-left: 5px;
}
.hero-text {
  max-width: 155px;
  height: 70px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-text);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  margin-left: 58px;
}
.hero-element-three {
  padding: 16px 30px;
}
.hero-element {
  width: 125px;
  display: inline-block;
  padding: 12px 32px;
  border: 1px solid #ffffff;
  border-radius: 1000px;
  margin-bottom: 8px;
}
.hero-title-three {
  width: 61px;
  height: 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.basketstr {
  position: absolute;
  width: 249px;
  height: 387px;
  left: 63px;
  background: #f5ce13;
  border-radius: 500px;
	max-width: 155px;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.17;
	display: flex;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	color: var(--color-text);
	text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.hero-element {
  width: 125px;
  display: inline-block;
  margin-bottom: 12px;
  margin-left: 8px;
  padding: 12px 32px;
  border: 1px solid #ffffff;
  border-radius: 1000px;
}
@media only screen and (min-width: 768px) {
  .hero-element {
    width: 266px;
    padding: 12px 32px;
    gap: 10px;
  }
}
.hero-title-three {
  width: 61px;
  height: 14px;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.17;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	color: #ffffff;
	text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.basketstr {
  width: 249px;
  height: 387px;
  background: #f5ce13;
  border-radius: 500px;
  margin: 44px;
}
@media only screen and (min-width: 768px) {
  .basketstr {
    width: 249px;
    height: 387px;
    margin-left: 422px;
    margin-top: -504px;
  }
}
@media only screen and (min-width: 1280px) {
  .basketstr {
    width: 249px;
    height: 387px;
    margin-left: 910px;
    margin-top: -662px;
  }
}
.img-basketstr {
  margin-top: 24px;
}
@media only screen and (min-width: 768px) {
  .basketstr {
    left: 455px;
    top: 858px;

  }
}
.img-basketstr {
  position: absolute;
  width: 162px;
  height: 185px;
  left: 43px;
  top: 61px;
}
.hero-text-bask {
  position: absolute;
  width: 163px;
  height: 84px;
  left: 43px;
  top: 263px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-text);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
