.hero-section {
  min-width: 375px;
  max-width: 1280px;
  background: var(--brand-color);
}
.hero-container {
  min-width: 375px;
  height: 1798px;
  position: relative;
  background: var(--brand-color);
}
.hero-img-r {
  padding-top: 56px;
  padding-right: 20px;
  padding-left: 299px;
}
.hero-img-strawberry {
  width: 56px;
  height: 56px;
  filter: blur(2px);
}
.hero-img-banana {
  position: absolute;
  width: 66px;
  height: 44px;
  left: 28.05px;
  filter: blur(2px);
  transform: rotate(20deg);
}
.img-card-div {
  position: relative;
  width: 335px;
  height: 509px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 1)
    rgba(255, 255, 255, 0.4418);
  border-radius: 500px;
}
.img-card-div::before {
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: 500px;
  z-index: -1;
}
.img-card {
  width: 311px;
  height: 484px;
  background: var(--color-text);
  border-radius: 500px;
  margin-left: 12px;
  margin-bottom: 13px;
}
.hero-title {
  position: absolute;
  width: 335px;
  left: calc(50% - 335px / 2);
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-text);
  z-index: 200;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  padding-top: 56px;
}

.btn-hero {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 148px;
  top: 200px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--brand-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  transform: rotate(-14deg);
  border-radius: 500px;
  border: none;
  z-index: 200;
  margin-top: 364px;
}
.btn-hero:hover,
.btn-hero:focus {
  color: var(--color-hover);
}
.hero-desc {
  position: absolute;
  width: 279px;
  height: 90px;
  left: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: var(--color-text);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  margin-top: 52px;
}

.watermelon {
  width: 249px;
  height: 387px;
  left: 63px;
  top: 868px;

  background: #a4cb66;
  border-radius: 500px;
  margin-top: 237px;
  margin-left: 35px;
}
.hero-title-second {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  letter-spacing: -0.04em;
  color: var(--color-text);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  padding-top: 28px;
  margin-bottom: 61px;
}
.img-water {
  width: 239px;
  margin-left: 5px;
}
.hero-text {
  max-width: 155px;
  height: 70px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--color-text);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  margin-left: 58px;
}
.hero-element-three {
  padding: 16px 30px;
}
.hero-element {
  width: 125px;
  display: inline-block;
  padding: 12px 32px;
  border: 1px solid #ffffff;
  border-radius: 1000px;
  margin-bottom: 8px;
}
.hero-title-three {
  width: 61px;
  height: 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  flex: none;
  order: 0;
  flex-grow: 0;
}
.basketstr {
  position: absolute;
  width: 249px;
  height: 387px;
  left: 63px;
  background: #f5ce13;
  border-radius: 500px;
}
.img-basketstr {
  position: absolute;
  width: 162px;
  height: 185px;
  left: 43px;
  top: 61px;
}
.hero-text-bask {
position: absolute;
width: 163px;
height: 84px;
left: 43px;
top: 263px;
font-weight: 500;
font-size: 12px;
line-height: 1.17;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.04em;
text-transform: uppercase;
color: var(--color-text);
text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}