.how-it-works-section {
  background-color: var(--brand-color);
}

.how-it-works-container {
}
.order-fruit-container {
  margin-bottom: 44px;

  text-align: center;
  letter-spacing: -0.04em;

  color: #ffffff;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
.order-fruit-title {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .order-fruit-title {
    font-size: 40px;
    line-height: 1.1;
  }
}
.order-fruit-text {
  font-size: 14px;
  line-height: 1.29;
}
.steps-order-container {
  display: flex;
  /* flex-direction: column;
  justify-content: center; */
  align-items: center;
  gap: 20px;
  margin-bottom: 44px;
}
@media only screen and (min-width: 768px) and (max-width: 1179px) {
  .steps-order-container {
    margin-bottom: 80px;
    justify-content: center;
  }
}

.steps-order-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .steps-order-list {
    gap: 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .steps-order-list {
    flex-wrap: nowrap;
  }
}
.steps-order-item {
  background-color: #ffffff;
  border-radius: 20px;
}
.steps-order-color {
  display: flex;
  align-items: center;
  width: 335px;
  height: 112px;
  gap: 14px;
}
@media only screen and (min-width: 768px) {
  .steps-order-color {
    width: 389px;
    height: 128px;
  }
}

.steps {
  width: 136px;
  height: 48px;
  padding: 10px;
  margin-left: 20px;
  border-radius: 200px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: -0.04em;
  text-align: center;
}
.first-step {
  background-color: var(--brand-color);
}
.step-text {
  max-width: 145px;
  font-size: 14px;
  line-height: 1.29;
}
@media only screen and (min-width: 768px) {
  .step-text {
    max-width: 199px;
  }
}
.second-step {
  background-color: var(--color-hover);
}
.third-step {
  background-color: var(--accent-color);
}
.gif-box {
  display: flex;
  justify-content: center;
  border-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .gif-box {
    border-bottom: 144px;
  }
}
@media only screen and (min-width: 1280px) {
  .gif-box {
    border-bottom: 150px;
  }
}
